<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="xamarinios10" />
  <package id="Xamarin.Tesseract" version="0.2.8" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.13.0" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.5679" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.5679" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5679" targetFramework="xamarinios10" />
  <package id="XLabs.IoC.TinyIoC" version="2.0.5679" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.5679" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.5679" targetFramework="xamarinios10" />
</packages>